<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database Connection Settings Related to the connection START -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tutorialDb</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">password</property>

		<!-- Related to hibernate properties START -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- show_sql : If the value is true, We can see generated sql statements in console..  -->
		<property name="show_sql">true</property>
		<!-- format_sql : If the value is true, We can see generated sql statements in a readable format. --> 
		<property name="format_sql">true</property>
		<!-- use_sql_comments : If the value is true, We can see comments in generated sql statements. -->
		<property name="use_sql_comments">true</property>
		<!--
		hibernate.hbm2ddl.auto 
		create: Creates schema, destroys previous data. 
		create-drop: Drops the schema at the end of a session. 
		update: Updates the schema. 
		validate:Validates the schema. It makes no changes to database. -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Related to hibernate properties END -->

		<!-- Related to mapping START -->
		<mapping resource="employee.hbm.xml" />
		<!-- Related to the mapping END -->

	</session-factory>
</hibernate-configuration>